<section>
    <div class="container">
        <div class="row">
            <div class="colmd-6">
                <h2 class="text-center">Add Events</h2>
                <form action="/admin/thumbevent" method="POST" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control">

                     <label for="">Price</label>
                    <input type="text" name="price" class="form-control">
                        <label for="">Date</label>
                    <input type="text" name="Date" class="form-control">

                    <label for="">Genre</label>
                    <input type="text" name="Genre" class="form-control">

                    <label for="">Time</label>
                    <input type="text" name="Time" class="form-control">

                    <label for="">Description</label>
                    <input name="Description" type="text"class="form-control">

                     <label for="">Image</label>
                    <input name="image" type="file"class="form-control">

                    <button type="submit" class="btn btn-success mt-4">submit</button>
                </form>
            </div>

        </div>
    </div>
</section>